*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#0b7a2f;
    color:white;
    padding:30px;
    text-align:center;
}

.hero{
    text-align:center;
    padding:70px 20px;
    background:white;
}

.hero h2{
    font-size:40px;
    margin-bottom:15px;
}

.hero p{
    font-size:18px;
    margin-bottom:25px;
}

.btn{
    display:inline-block;
    background:#0b7a2f;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:6px;
}

.services{
    padding:50px 20px;
    text-align:center;
}

.card{
    background:white;
    padding:25px;
    margin:20px auto;
    max-width:350px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}